- name: envoy.filters.http.wasm
  typed_config:
    "@type": type.googleapis.com/udpa.type.v1.TypedStruct
    type_url: envoy.extensions.filters.http.wasm.v3.Wasm
    value:
      config:
        vm_config:
          vm_id: "opa_vm"
          runtime: "envoy.wasm.runtime.v8"
          code:
            local: { filename: {{ .Vars.OpaPluginFilePath }} }
        configuration: >-
          {
            "opa_cluster_name": "opa_policy_server",
            "opa_service_host": "localhost:8181",
            "fail_open": "false",
          }